{
  "version": 1.0,
  "project": "XYZ-${repo}-${branch}",
  "team": "/CxServer",
  "sast": {
    "preset": "",
    "engineConfiguration": "",
    "incremental": "false", // values: "true" or "false"
    "forceScan": "true", // values: "true" or "false"
    "fileExcludes": "*.pyc, *.test, *.class",
    "folderExcludes": "*test, out/, *bin"
},
"additionalProperties": {
    "cxFlow": {
				"scanResubmit": "true" // values: "true" or "false"
              }
